#nav {
    width: 100%;
    height: 30px;
    background: #000;
    /* overflow: hidden; */
}

.nav-con {
    width: 1090px;
    height: 30px;
    margin: 0 auto;
}

.nav-con>span {
    height: 30px;
    ;
    display: inline-block;
    float: left;
    line-height: 30px;
    color: #999;
    font-size: 12px;
}

.leftul {
    height: 30px;
    width: 255px;
    float: left;
    margin-left: 42px;
}

.leftul li {
    height: 30px;
    float: left;
    margin-right: -5px;
    line-height: 30px;
}

.leftul li a {
    color: #999;
    font-size: 12px;
}

.leftul li a:hover {
    color: #fff;
}

.rightul {
    width: 640px;
    height: 30px;
    float: right;
    position: relative;
}

.rightul li {
    width: 80px;
    height: 30px;
    float: left;
    line-height: 30px;
    color: #999;
    text-align: center;
}

.rightul li a {
    color: #999;
    font-size: 12px;
}

.rightul li a:hover {
    color: #fff;
}

.rightul li:nth-child(3):hover {
    background: #fff;
}

.rightul li:nth-child(3) a:hover {
    color: #ff2337;
    background: #fff;
}

.rightul li:nth-child(4):hover {
    background: #fff;
}

.rightul li:nth-child(4) a:hover {
    color: #ff2337;
    background: #fff;
}

.rightul li:nth-child(5):hover {
    background: #fff;
}

.rightul li:nth-child(5) a:hover {
    color: #ff2337;
    background: #fff;
}

.rightul li:nth-child(6):hover {
    background: #fff;
}

.rightul li:nth-child(6) a:hover {
    color: #ff2337;
    background: #fff;
}

.rightul li:nth-child(7):hover {
    background: #fff;
}

.rightul li:nth-child(7) a:hover {
    color: #ff2337;
    background: #fff;
}

#head {
    width: 100%;
    height: 100px;
    overflow: hidden;
}

.head-con {
    width: 1090px;
    height: 100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.head-con .search{
    width: 479px;
    height: 36px;
    border: #ff2337 3px solid;
    border-radius: 30px;
    transform: translateX(70px);
    text-align: center;
    line-height: 36px;
    position: relative;
}
.search span{
    display: inline-block;
    width: 14px;
    height: 14px;
    transform: translate(-20px,2px);
    background: url(../images/xuebi.png) no-repeat -468px -668px;
}

.head-con input {
    width: 370px;
    height: 24px;
    font-size: 14px;
    transform: translateX(-10px);
}
::-webkit-input-placeholder{
    font-style: oblique;
    color: #999;
}
.searchbox{
    width: 60px;
    height: 40px;
    position: absolute;
    top: -2px;
    right: -2px;
    border-radius: 30px;
    background:#ff2337 url(../images/xuebi.png) no-repeat -485px -655px;
    cursor: pointer;
}
.head-con i {
    width: 110px;
    height: 36px;
    border: #ff2337 3px solid;
    border-radius: 30px;
    line-height: 36px;
    margin-right: 80px;
    text-indent: 20px;
    font-size: 14px;
    cursor: pointer;
}

.head-con i:hover {
    background: #ecb5b5;
    color: red;
}

.head-con i img {
    display: inline-block;
    width: 20px;
    height: 20px;
    transform: translateY(4px)
}

#daohang {
    width: 100%;
    height: 40px;
    overflow: hidden;
    border-bottom: 1px solid #ccc;
}

.daohang-con {
    width: 1090px;
    height: 40px;
    margin: 0 auto;
}

.daohang-con li {
    float: left;
    line-height: 40px;
    padding-left: 30px;
}
.fen{
    width: 164px;
    height: 38px;
    background: red;
    display:inline-block;
    float: left;
    border-bottom: 1px solid #ff5160;
    padding-bottom: 1px;
    text-align: center;
    line-height: 38px;
    color: #fff;
    font-size: 14px;
}

.daohang-con li a {
    font-size: 15px;
    font-weight: 700;
    color: #000;
}

.daohang-con li a:hover {
    color: #ff2337;
}
.phone-kaola {
    position: relative;
}

.phone-erwema {
    display: none;
    position: absolute;
    left: -35px;
    top: 30px;
    color: black;
    background: #fff;
    width: 120px;
    height: 180px;
    border: 1px solid #eee;
    z-index: 1;
    text-align: center;
}

.geren1 {
    width: 72px;
    height: 310px;
    border: 1px solid #eee;
    border-top: none;
    background: #fff;
    display: none;
    position: absolute;
    left: 160px;
    top: 30px;
    z-index: 1;
    padding: 0 15px;
    text-align: left;
}

.geren1 a {
    color: #999;
    font-size: 12px;
    line-height: 20px;
}

.kefu1 {
    width: 72px;
    height: 130px;
    border: 1px solid #eee;
    border-top: none;
    background: #fff;
    display: none;
    position: absolute;
    left: 240px;
    top: 30px;
    z-index: 1;
    padding: 0 15px;
    text-align: left;
}

.kefu1 a {
    color: #999;
    font-size: 12px;
    line-height: 20px;
}

.chongzhi1 {
    width: 91px;
    height: 100px;
    border: 1px solid #eee;
    border-top: none;
    background: #fff;
    display: none;
    position: absolute;
    left: 320px;
    top: 30px;
    z-index: 1;
    padding: 0 15px;
    text-align: left;
}

.chongzhi1 a {
    color: #999;
    font-size: 12px;
    line-height: 20px;
}

.xiao1 {
    width: 72px;
    height: 30px;
    border: 1px solid #eee;
    border-top: none;
    background: #fff;
    display: none;
    position: absolute;
    left: 400px;
    top: 30px;
    z-index: 1;
    padding: 0 8px;
    text-align: left;
}

.xiao1 a {
    color: #999;
    font-size: 12px;
    line-height: 20px;
}

.more1 {
    width: 60px;
    height: 100px;
    border: 1px solid #eee;
    border-top: none;
    background: #fff;
    display: none;
    position: absolute;
    left: 468.5px;
    top: 30px;
    z-index: 1;
    padding: 0 15px;
    text-align: left;
}

.more1 a {
    color: #999;
    font-size: 12px;
    line-height: 20px;
}

#main{
    width: 100%;
}
.main-con{
    width: 1090px;
    margin: 0 auto;
}
.shophead{
    width: 1090px;
    height: 22px;
    line-height: 22px;
    margin-top: 0;
    padding-top: 12px;
    padding-bottom: 22px;
    border-bottom: 1px solid #ddd;
    font-size: 13px;
    color: #999;
}
.shophead span{
    color: #999;
    font-size: 13px;
}
.shophead .shoes{
    display: inline-block;
    border: 1px solid #ccc;
    width: 67px;
    height: 22px;
}
.shophead .shoes-sport{
    display: inline-block;
    border: 1px solid #ccc;
    width: 54px;
    height: 22px;
}

.shophead .shoes-brand{
    display: inline-block;
    border: 1px solid #ccc;
    width: 80px;
    height: 22px;
}
.shophead .shoes a{
    display: block;
    color: #333;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
}
.shophead .shoes-sport a{
    display: block;
    color: #333;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
}
.shophead .shoes-brand a{
    display: block;
    color: #333;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
}
.shopdeta{
    display: inline-block;
    width: 90px;
    line-height: 24px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(5px)
}
.entershop{
    display:block;
    width: 190px;
    height: 22px;
    float: right;
    transform: translateY(5px)
}
.entershop a{
    font-size: 12px;
    color: #333;
}
.product{
    width: 1090px;
    height: 816px;
    margin-top: 40px;
}
.product-left{
   float: left;
   width: 402px;
   height: 488px;
   position: relative;
}
.product-right{
    float: left;
    width: 658px;
    height: 488px;
    margin-left: 30px;
 }
 .bigpicture {
    width: 402px;
    height: 400px;
    cursor: crosshair;
}
.bigpicture img{
    width: 100%;
    height: 100%;
}
.xiaotu{
    margin-top: 20px;
}

ul>li {
    width: 80px;
    height: 80px;
    float: left;
}

ul>li>img {
    width: 100%;
    height: 100%;
}

.max {
    width: 402px;
    height: 400px;
    position: absolute;
    right: -432px;
    top: 0;
    overflow: hidden;
    display: none;
    z-index: 2;
}

.max img {
    width: 1206px;
    height: 1200px;
    position: absolute;
    left: 0;
    top: 0;
}

.zhe {
    width: 200px;
    height: 200px;
    position: absolute;
    background: rgba(00, 00, 00, 0.3);
    left: 0;
    top: 0;
    display: none;
    pointer-events: none;
}
.productori{
    width: 658px;
    height: 24px;
}
.productori>img{
    display:block;
    width: 24px;
    height: 24px;
    float: left;
}
.productori span{
    color: #999;
    font-size: 13px;
    line-height: 24px;
}
.productori a{
    color: #999;
    font-size: 13px;
    line-height: 24px;
}
.product-intro{
    width: 658px;
    height: 52px;
    font-weight: 600;
    font-size: 18px;
    line-height: 26px;
    margin: 10px 0;
}
.product-sub{
    width: 658px;
    height: 40px;
    line-height: 20px;
    font-size: 13px;
    color: #333;
}
.pricewrap{
    background-color: #f9f9f9;
    margin:10px 0;
    width: 658px;
    height: 99px;
}
.pricebox{
    line-height: 26px;
    padding: 10px 0;
}
.shoujia{
    display: inline-block;
    width: 75px;
    height: 26px;
    line-height: 26px;
    color: #666;
    font-size: 12px;
    margin-left: 10px;
    transform: translateY(-5px)
}
.tejia{
    font-size: 26px;
    color: #e31436;
    font-weight: bold;
    vertical-align: baseline;
    line-height: 1;
    margin: 8px 0;
}
.tejiatubiao{
    display: inline-block;
    margin-left: 5px;
    background-color: #f68587;
    height: 18px;
    line-height: 18px;
    padding: 0 5px;
    color: #fff;
    font-size: 12px;
    vertical-align: 5px;
    border-radius: 2px;
}
.blackcard{
    width: 658px;
    height: 20px;
}
.blackcard>img{
    height: 17px;
    display: block;
    float: left;
    margin-right: 4px;
    margin-left: 90px;
}
.blackcard span{
    display: inline-block;
    font-size: 12px;
    color: #1e1e1e;
    line-height: 20px;
    transform: translateY(-4px)
}
.kaika{
    text-indent: 140px;
}
.kaika a{
    color: #4a90e2;
    font-size: 12px;
}
.huodong{
    width: 658px;
    height: 39px;
}
.huodong1{
    display: inline-block;
    width: 75px;
    font-size: 12px;
    color: #666;
    margin-left: 10px;
}
.huodong2{
    display: inline-block;
    min-width: 48px;
    max-width: 160px;
    padding: 0 4px;
    color: #fff;
    background-color: #e31436;
    font-size: 12px;
    height: 18px;
    line-height: 18px;
    text-align: center;
}
.huodong3{
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px;
    max-width: 400px;
    font-size: 12px;
    color: #e31436;
}
.huodong3 a{
    font-size: 12px;
    color: #e31436;
}
.shuifei{
    width: 658px;
    height: 26px;
    margin-top: -10px;
}
.shuifei1{
    display: inline-block;
    width: 75px;
    font-size: 12px;
    color: #666;
    margin-left: 10px;
}
.shuifei2{
    font-size: 12px;
}
.shuifei3{
    font-size: 12px;
    margin-left: 20px;
}
.yunfei{
    width: 658px;
    height: 24px;
}
.yunfei1{
    display: inline-block;
    width: 75px;
    font-size: 12px;
    color: #666;
    margin-left: 10px;
}
.yunfei2{
    font-size: 12px;
}
.yunfei3{
    font-size: 12px;
    margin-left: 20px;
}
.fuwu{
    width: 658px;
    height: 82px;
}
.fuwu1{
    display: inline-block;
    width: 75px;
    font-size: 12px;
    color: #666;
    margin-left: 10px;
}
.fuwu2{
    font-size: 12px;
}
.fuwu3 a{
    font-size: 12px;
    color: #e31436;
}
.fuwu4{
    font-size: 12px;
}
.fuwuimg{
    width: 658px;
    height: 54px;
    transform: translate(65px,10px);
    position: relative;
}
.fuwuimg li{
    float: left;
    text-align: center;
    width: 100px;
    height: 54px;
}
.fuwuimg li img{
    width: 28px;
    height: 28px;
    margin: 0 auto;
}
.fuwuimg li i{
    font-size: 12px;
    color: #333;
}
.fuwuimg span{
    display: block;
    position: absolute;
    width: 60px;
    height: 1px;
    background: #7f7f7f;
}
.span1{
    left: 70px;
    top: 12px;
}
.span2{
    left: 170px;
    top: 12px;
}
.span3{
    left: 270px;
    top: 12px;
}
.yanse{
    width: 658px;
    height: 58px;
    margin-top: 10px;
}
.yanse1{
    display: inline-block;
    width: 75px;
    font-size: 12px;
    color: #666;
    margin-left: 10px;
    line-height: 58px
}
.yanse ul{
    width: 480px;
    height: 58px;
    float: right;
    transform: translateX(-90px)
}
.yanse ul li{
    width: 58px;
    height: 58px;
    float: left;
    margin-right: 10px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
.yanse ul li img{
    width: 54px;
    height: 54px;
}
.yanse ul li:hover{
    border: 2px solid red;
}
.xuanze{
    display: inline-block;
    width: 132px;
    height: 54px;
    font-size: 12px;
    color: #333;
    padding-top: 20px;
}
.chima{
    width: 658px;
    height: 60px;
    margin-top: 20px;
}
.chima1{
    display: inline-block;
    width: 75px;
    font-size: 12px;
    color: #666;
    margin-left: 10px;
    line-height: 58px
}
.chima ul{
    width: 490px;
    height: 60px;
    float: right;
    transform: translateX(-80px)
}
.chima ul li{
    width: 51px;
    height: 30px;
    float: left;
    margin-right: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
.chima ul li a{
    display: inline-block;
    text-indent: 7px;
    line-height: 30px;
    color: #000;
}
.chima ul li:hover{
    border: 2px solid red;
}
.shuliang{
    width: 658px;
    height: 24px;
    margin-top: 20px;
}
.shuliang1{
    display: inline-block;
    width: 75px;
    font-size: 12px;
    color: #666;
    margin-left: 10px;
    line-height: 58px
}
.baozhang{
    width: 658px;
    height: 36px;
    margin-top: 20px;
}
.baozhang1{
    display: inline-block;
    width: 75px;
    font-size: 12px;
    color: #666;
    margin-left: 10px;
    line-height: 58px
}
.baozhang span{
    font-size: 12px;
    color: #666;
}
.countwrap{
    display: inline-block;
    border: 1px solid #ccc;
    height: 25px;
    transform: translateX(-2px)
}
.shuliang button{
    display: inline-block;
    width: 25px;
    height: 25px;
    border: none;
    outline: none;
    text-align: center;
    line-height: 22px;
    background: #fff;
}
.shuliang button:hover{
    background: #ccc;
}
.shuliang .shuliang2{
    display: inline-block;
    width: 48px;
    height: 22px;
    text-align: center;
    line-height: 22px;
}
.buybtn{
    width: 658px;
    height: 50px;
    margin-top: 20px;
}
.buy{
    display: inline-block;
    width: 160px;
    height: 50px;
    line-height: 50px;
    color: #D31B44;
    background-color: #FFECED;
    border: none;
    text-align: center;
    margin-right: 15px;
    font-size: 18px;
    font-weight: bold;
    border: 2px solid #d41c44;
}
.addshop{
    width: 180px;
    display: inline-block;
    height: 50px;
    line-height: 50px;
    color: #fff;
    text-align: center;
    background-color: #e31436;
    border: none;
    margin-right: 20px;
    font-size: 18px;
    font-weight: bold;
    border: 2px solid #d41c44;
}
.collect{
    color: #000;
    font-size: 14px;
}
.collect:hover{
    text-decoration: underline;
}
#foot{
    width: 100%;
    height: 148px;
    float: left;
    background: #f0f0f0;
}
#foot .box{
    width: 1100px;
    height: 147px;
    margin: 0 auto;
}
.box-con{
    width: 1100px;
    height: 147px;
    padding: 49px 0;
    border-bottom: 1px solid #eaeaea;
}
.ullist{
    width: 1100px;
    height: 48px;
}
.ullist li{
    float: left;
    width: 233px;
    margin-left: 42px;
}
.zheng{
    width: 44px;
    height: 44px;
    border-radius: 50%;
    border: 2px solid #d6d6d6;
    text-align: center;
    line-height: 44px;
    font-size: 20px;
    font-weight: 700;
    display: inline-block;
    float: left;
    margin-right: 12px;
}
.cheng{
    font-size: 18px;
    font-weight: 700;
    display: block;
    line-height: 22px;
}
.jia{
    display: block;
    line-height: 22px;
    font-size: 14px;
}
#about{
    width: 100%;
    height: 263px;
    float: left;
    background: #f0f0f0;
}
#about .box1{
    width: 1100px;
    height: 263px;
    margin: 0 auto;
    border-top: 1px solid #eaeaea;;
    padding: 49px 0;
}
.box1 ul{
    width: 100px;
    height: 128px;
    float: left;
}
.box1 ul li{
    font-size: 12px;
    color: #333;
    line-height: 30px;
}
.logobox{
    width: 200px;
    height: 128px;
    margin-right: 100px;
    float: left;
}
.logobox span{
    display: inline-block;
    font-size: 12px;
    transform: translate(5px,-15px);
    margin-right: 10px;
}
.logobox img{
    display:inline-block;
    margin: 5px 5px;
}
.rightlogo{
    width: 108px;
    height: 108px;
    float: right;
    display: block;
    margin-right: 90px;
}
#footwrap{
    width: 100%;
    height: 154px;
    background: #333;
    float: left;
}
.foot-con{
    width: 1000px;
    height: 154px;
    margin: 0 auto;
    padding-top: 20px;
    text-align: center;
}
.foot-con span{
    font-size: 12px;
    color: #c2c2c2;
    margin-left: 20px;
    line-height: 26px;
    text-align: center;
}
.foot-con span img{
    display: inline-block
}
.foot-con p{
    text-align: center;
    margin-top: 10px;
}
.foot-con p img{
    display: inline-block;
    height: 35px;
}
.foot-con a{
    font-size: 12px;
    color: #c2c2c2;
    line-height: 26px;
    text-align: center;
}
.logboxtop .registered{
    /* display: inline-block; */
    position: absolute;
    right: 5px;
    bottom: 23px;
}
.registered a{
    font-size: 12px;
    color: #c2c2c2;
}

