#nav {
    width: 100%;
    height: 30px;
    background: #000;
    /* overflow: hidden; */
}

.nav-con {
    width: 1090px;
    height: 30px;
    margin: 0 auto;
}

.nav-con>span {
    height: 30px;
    ;
    display: inline-block;
    float: left;
    line-height: 30px;
    color: #999;
    font-size: 12px;
}

.leftul {
    height: 30px;
    width: 255px;
    float: left;
    margin-left: 42px;
}

.leftul li {
    height: 30px;
    float: left;
    margin-right: 45px;
    line-height: 30px;
}

.leftul li a {
    color: #999;
    font-size: 12px;
}

.leftul li a:hover {
    color: #fff;
}

.rightul {
    width: 640px;
    height: 30px;
    float: right;
    position: relative;
}

.rightul li {
    width: 80px;
    height: 30px;
    float: left;
    line-height: 30px;
    color: #999;
    text-align: center;
}

.rightul li a {
    color: #999;
    font-size: 12px;
}

.rightul li a:hover {
    color: #fff;
}

.rightul li:nth-child(3):hover {
    background: #fff;
}

.rightul li:nth-child(3) a:hover {
    color: #ff2337;
    background: #fff;
}

.rightul li:nth-child(4):hover {
    background: #fff;
}

.rightul li:nth-child(4) a:hover {
    color: #ff2337;
    background: #fff;
}

.rightul li:nth-child(5):hover {
    background: #fff;
}

.rightul li:nth-child(5) a:hover {
    color: #ff2337;
    background: #fff;
}

.rightul li:nth-child(6):hover {
    background: #fff;
}

.rightul li:nth-child(6) a:hover {
    color: #ff2337;
    background: #fff;
}

.rightul li:nth-child(7):hover {
    background: #fff;
}

.rightul li:nth-child(7) a:hover {
    color: #ff2337;
    background: #fff;
}

#head {
    width: 100%;
    height: 100px;
    overflow: hidden;
}

.head-con {
    width: 1090px;
    height: 100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.phone-kaola {
    position: relative;
}

.phone-erwema {
    display: none;
    position: absolute;
    left: -35px;
    top: 30px;
    color: black;
    background: #fff;
    width: 120px;
    height: 180px;
    border: 1px solid #eee;
    z-index: 1;
    text-align: center;
}

.geren1 {
    width: 72px;
    height: 310px;
    border: 1px solid #eee;
    border-top: none;
    background: #fff;
    display: none;
    position: absolute;
    left: 160px;
    top: 30px;
    z-index: 1;
    padding: 0 15px;
    text-align: left;
}

.geren1 a {
    color: #999;
    font-size: 12px;
    line-height: 20px;
}

.kefu1 {
    width: 72px;
    height: 130px;
    border: 1px solid #eee;
    border-top: none;
    background: #fff;
    display: none;
    position: absolute;
    left: 240px;
    top: 30px;
    z-index: 1;
    padding: 0 15px;
    text-align: left;
}

.kefu1 a {
    color: #999;
    font-size: 12px;
    line-height: 20px;
}

.chongzhi1 {
    width: 91px;
    height: 100px;
    border: 1px solid #eee;
    border-top: none;
    background: #fff;
    display: none;
    position: absolute;
    left: 320px;
    top: 30px;
    z-index: 1;
    padding: 0 15px;
    text-align: left;
}

.chongzhi1 a {
    color: #999;
    font-size: 12px;
    line-height: 20px;
}

.xiao1 {
    width: 72px;
    height: 30px;
    border: 1px solid #eee;
    border-top: none;
    background: #fff;
    display: none;
    position: absolute;
    left: 400px;
    top: 30px;
    z-index: 1;
    padding: 0 8px;
    text-align: left;
}

.xiao1 a {
    color: #999;
    font-size: 12px;
    line-height: 20px;
}

.more1 {
    width: 60px;
    height: 100px;
    border: 1px solid #eee;
    border-top: none;
    background: #fff;
    display: none;
    position: absolute;
    left: 468.5px;
    top: 30px;
    z-index: 1;
    padding: 0 15px;
    text-align: left;
}

.more1 a {
    color: #999;
    font-size: 12px;
    line-height: 20px;
}
#main{
    width: 100%;
    height: 380px;
}
.shopcar-box{
    width: 1090px;
    height: 380px;
    margin: 0 auto;
}
.shopcar-box h3{
    font-size: 14px;
    color: #333;
    line-height: 32px;
    margin-top: 15px;
}
.mycar{
    width: 1090px;
    flex: 1;
}
.headcar{
    width: 1090px;
    color: #999;
    border: 1px solid #eaeaea;
    height: 34px;
    line-height: 34px;
}
.headcar span{
    display: block;
    float: left;
    font-size: 12px;
}
.mycar1{
    width: 134px;
    height: 34px;
    margin-left: 20px;
}
.mycar1 input{
    transform: translateY(1px)
}
.mycar2{
    width: 400px;
    height: 34px;
}
.mycar3{
    width: 150px;
    height: 34px;
}
.mycar4{
    width: 147px;
    height: 34px;
}
.mycar5{
    width: 128px;
    height: 34px;
}
.mycar6{
    width: 107px;
    height: 34px;
}
.ware{
    width: 1090px;
    height: 36px;
    padding: 7px 0 8px 10px;
    font-size: 14px;
    *font-size: 0;
    font-weight: 700;
    color: #333;
}
.ware span{
    display: block;
    float: left;
    margin-left: 12px;
}
.ware .ziying{
    height: 18px;
    line-height: 18px;
    padding: 0 4px;
    border-radius: 2px;
    color: #fff;
    font-size: 12px;
    background-color: #333;
}
.ware .cang{
    height: 18px;
    line-height: 18px;
    font-weight: 700;
    font-size: 14px;
    color: #333;
}
.jiesuan{
    width: 100px;
    height: 30px;
    background: #ff2337;
    font-size: 12px;
    text-align: center;
    line-height: 30px;
    position: absolute;
    right: 0;
    bottom: 0;
}
.jiesuan a{
    color: #fff;
}
.goods{
    width: 1090px;
    height: 214px;
    background-color: #fffbf0;
    line-height: 214px;
    display: none;
    position: relative;
}
.goodsclone{
    width: 1090px;
    height: 214px;
    background-color: #fffbf0;
    line-height: 214px;
    margin-bottom: 10px;
    position: relative;
}
.goodsclone div{
    float: left;
    font-size: 12px;
}
.goodsclone .goods4 span{
    display:block;
    width: 22px;
    height: 22px;
    float: left;
    line-height: 20px;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    border: 1px solid #bcbcbc;
    color: #333;
}
.goodsclone .goods4 input{
    width: 43px;
    height: 22px;
    float: left;
    line-height: 20px;
    text-align: center;
    border: 1px solid #bcbcbc;
    border-width: 1px 0;
}
.goods div{
    float: left;
    font-size: 12px;
}
.goods1{
    width: 134px;
    height: 34px;
    margin-left: 20px;
}
.goods1 input{
    transform: translateY(1px)
}
.goods2{
    width: 400px;
    height: 200px;
}
.goods2 .shopxinxi{
    width: 300px;
    height: 200px;
    white-space: nowrap;/* 不换行 */
    text-overflow: ellipsis;/* 省略号 */
    overflow: hidden;
    cursor: pointer;
    
}

.goods3{
    width: 108px;
    height: 80px;
}
.goods .goods4 span{
    display:block;
    width: 22px;
    height: 22px;
    float: left;
    line-height: 20px;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    border: 1px solid #bcbcbc;
    color: #333;
}
.goods .goods4 input{
    width: 43px;
    height: 22px;
    float: left;
    line-height: 20px;
    text-align: center;
    border: 1px solid #bcbcbc;
    border-width: 1px 0;
}
.goods4{
    width: 123px;
    height: 80px;
    transform: translateY(95px)
}
.goods5{
    width: 193px;
    height: 80px;
    transform: translateX(75px)
}
.goods6{
    width: 107px;
    height: 80px;
    cursor: pointer;
    
}
.goods6:hover{
    text-decoration: underline;
}
#foot{
    width: 100%;
    height: 148px;
    float: left;
    background: #f0f0f0;
    margin-top: 100px;
}
#foot .box{
    width: 1100px;
    height: 147px;
    margin: 0 auto;
}
.box-con{
    width: 1100px;
    height: 147px;
    padding: 49px 0;
    border-bottom: 1px solid #eaeaea;
}
.ullist{
    width: 1100px;
    height: 48px;
}
.ullist li{
    float: left;
    width: 233px;
    margin-left: 42px;
}
.zheng{
    width: 44px;
    height: 44px;
    border-radius: 50%;
    border: 2px solid #d6d6d6;
    text-align: center;
    line-height: 44px;
    font-size: 20px;
    font-weight: 700;
    display: inline-block;
    float: left;
    margin-right: 12px;
}
.cheng{
    font-size: 18px;
    font-weight: 700;
    display: block;
    line-height: 22px;
}
.jia{
    display: block;
    line-height: 22px;
    font-size: 14px;
}
#about{
    width: 100%;
    height: 263px;
    float: left;
    background: #f0f0f0;
}
#about .box1{
    width: 1100px;
    height: 263px;
    margin: 0 auto;
    border-top: 1px solid #eaeaea;;
    padding: 49px 0;
}
.box1 ul{
    width: 100px;
    height: 128px;
    float: left;
}
.box1 ul li{
    font-size: 12px;
    color: #333;
    line-height: 30px;
}
.logobox{
    width: 200px;
    height: 128px;
    margin-right: 100px;
    float: left;
}
.logobox span{
    display: inline-block;
    font-size: 12px;
    transform: translate(5px,-15px);
    margin-right: 10px;
}
.logobox img{
    display:inline-block;
    margin: 5px 5px;
}
.rightlogo{
    width: 108px;
    height: 108px;
    float: right;
    display: block;
    margin-right: 90px;
}
#footwrap{
    width: 100%;
    height: 154px;
    background: #333;
    float: left;
}
.foot-con{
    width: 1000px;
    height: 154px;
    margin: 0 auto;
    padding-top: 20px;
    text-align: center;
}
.foot-con span{
    font-size: 12px;
    color: #c2c2c2;
    margin-left: 20px;
    line-height: 26px;
    text-align: center;
}
.foot-con span img{
    display: inline-block
}
.foot-con p{
    text-align: center;
    margin-top: 10px;
}
.foot-con p img{
    display: inline-block;
    height: 35px;
}
.foot-con a{
    font-size: 12px;
    color: #c2c2c2;
    line-height: 26px;
    text-align: center;
}
.logboxtop .registered{
    /* display: inline-block; */
    position: absolute;
    right: 5px;
    bottom: 23px;
}
.registered a{
    font-size: 12px;
    color: #c2c2c2;
}
